*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    background: #6a3093;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
div{
    width: 50%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}
h2{
    margin-bottom: 10px;
}
p{
    margin-bottom: 14px;
}
input[type="number"]{
    border: none;
    width: 200px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
}
#guessBtn, #restartBtn{
    margin: 10px 0;
    cursor: pointer;
    background-color: transparent;
    font-size: 22px;
    border: 1px solid #fff;
    padding: 8px 12px;
    color: white;
    border-radius: 8px;
}
#restartBtn{
    margin: 10px 0 10px 400px;
}
.wrong{
    border: 2px solid red;
}
.correct{
    border: 2px solid green;
}